.registrationCssave {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.registrationCssave form {
  width: 200px;
  max-width: 800px;
  padding: 50px 70px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #262a2d;
}

.registrationCssave form h3 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.errorValidation {
  height: 35px;
  padding: 5px;
  font-size: 0.9em;
  color: rgba(233, 46, 46, 0.875);
}

@media (max-width: 576px) {
  .registrationCssave form {
    padding: 40px 40px;
  }
}
