.navHead {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px;
  background-color: #1f2326;
}
.navHead.light {
  background-color: #eac83f;
}

.navLogo {
  text-decoration: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.801);
  font-size: 1.8em;
  padding-right: 10px;
}
.navLogo.light {
  color: rgba(0, 0, 0, 0.801);
}

.btnBlock {
  margin-left: 5px;
  display: flex;
  align-items: center;
}
.btnBlock > * {
  margin-left: 5px;
}

.link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .navHead {
    position: relative;
    padding-bottom: 80px;
  }
  .btnBlock {
    position: absolute;
    left: 25%;
    top: 60px;
  }
}
