button {
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9em;
}
.defaultButton {
  background-color: #eac83f;
  border: none;
  color: #1f2326;
}
.defaultButton.light {
  background-color: #1f2326;
  color: #eac83f;
}
.notDefaultButton {
  box-sizing: border-box;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.706);
  color: rgba(255, 255, 255, 0.801);
}
.notDefaultButton.light {
  border-color: #1f2326;
  color: #1f2326;
}

.defaultButton:hover {
  background-color: #ffd735;
  color: #1f2326;
}
.defaultButton.light:hover {
  background-color: black;
  color: #ffd735;
}

.notDefaultButton:hover {
  color: #ffda47;
  border-color: #ffda47;
}
.notDefaultButton.light:hover {
  color: white;
  border-color: white;
}
