.rating {
  padding: 7px;
  border: 1px solid #ffda47c1;
  border-radius: 1em;
  color: #ffda47c1;
}
.ratingName {
  padding-right: 5px;
  font-size: 1.1em;
}
.ratingValue {
  font-size: 1.3em;
  font-weight: bold;
}
