.movieCard {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 300px;
  min-width: 320px;
  background-color: #262a2d;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.movieCard.lightCard {
  background-color: #eac83f;
}

.movieCard_info {
  padding: 20px;
  font-size: 0.9em;
}
.moviePoster {
  width: 200px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
.moviePoster:hover {
  border: 2px solid rgba(0, 0, 0, 0);
}

.movieInfo_name {
  font-size: 1.8em;
  font-weight: 500;
  padding-bottom: 0.5em;
  cursor: pointer;
}

.movieInfo_description {
  opacity: 0.8;
  padding-bottom: 0.5em;
}
.movieInfo_description {
  display: block;
}

.movieInfo_btn {
  width: 50px;
}

@media only screen and (max-width: 600px) {
  .moviePoster {
    width: 130px;
  }
  .movieCard {
    height: 200px;
    grid-template-columns: 130px 1fr;
    margin: 5px;
  }
  .movieCard_info {
    font-size: 0.8em;
  }
}
