.input {
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.842);
  border: solid 2px rgba(255, 255, 255, 0.842);
  outline: none;
}

input:focus {
  border: solid 2px #fcd22a;
}
