.navHead {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px;
  background-color: #1f2326;
}
.navLogo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.801);
  font-size: 1.8em;
  padding-right: 10px;
}

.btnBlock {
  margin-left: 5px;
  display: flex;
  align-items: center;
}
.btnBlock > * {
  margin-left: 5px;
}

.link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .btnBlock {
    display: flex;
    flex-direction: column;
  }
}
