:root {
  --bg-dark: #171a1f;
  --bg-light: rgb(255, 255, 255);
  --text-dark: rgb(255, 255, 255);
  --text-light: #171a1f;
}

.layout {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-dark);
  color: var(--text-dark);
  font-family: 'Roboto', sans-serif;
}

.layout.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

section {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  color: rgba(255, 255, 255, 0.842);
  background-color: #171a1f;
}
