.movie {
  display: grid;
  grid-template-areas:
    'name name name'
    'media description description'
    'etcContent etcContent etcContent';
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
  padding: 1em 1em;
  background-color: #262a2d;
}
.mediaBlock {
  grid-area: media;
  margin-bottom: 0.5em;
}
.mediaBlock__poster {
  display: block;
  max-width: 300px;
  width: 100%;
  min-width: 200px;
  margin: auto;
}
.mediaBlock__raiting {
  display: flex;
  justify-content: center;
}
.mediaBlock__raiting > div {
  margin: 10px 5px;
}

.discriptionBlock {
  grid-area: description;
  font-size: 0.8em;
}
.discriptionBlock > div {
  margin-bottom: 1em;
}

.discriptionBlock__name {
  grid-area: name;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: white;
}

table .rating {
  display: inline-block;
  border: 1px solid #ffda47c1;
  padding: 5px;
  font-size: 1em;
  text-transform: uppercase;
  color: #ffda47c1;
}
.etcBlock {
  grid-area: etcContent;
}
.etcBlock__discription {
  font-size: 1em;
  margin: 1em 0;
}
.etcBlock__discription > h3 {
  font-size: 1.8em;

  padding-bottom: 0.5em;
}

@media (max-width: 480px) {
  .movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
