.rating {
  padding: 7px;
  border: 2px solid #fccf1d;
  border-radius: 1em;
  color: #fccf1d;
}
.ratingName {
  font-weight: bold;
  padding-right: 5px;
  font-size: 1.6em;
}
.ratingValue {
  font-weight: bold;
  font-size: 2em;
  font-weight: bold;
}
