.favBtn svg {
  height: 30px;
  width: 30px;
}

.favoriteIcon {
  fill: rgba(255, 255, 255, 0);
  stroke: #fb7185;
  stroke-width: 1px;
  cursor: pointer;
}

.favoriteIcon:hover {
  stroke-width: 1.5px;
}

.favoriteIcon__active {
  fill: #fb7185;
  cursor: pointer;
}
