name: GitHub-actions-aston-project
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  project-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v4
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        run: npm install
      - name: lint test
        run: npm run lint
